<p>customerorderdetails works!</p>
<div class="input-group container">

  <input #custId type="text" class="form-control rounded" placeholder="Enter id" aria-label="Search" required name="id" aria-describedby="search-addon" />
  <button type="button" (click)="customerDetails(custId.value)" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
  <button (click)="addProduct()" class="btn btn-info" style="margin-left: 10px;">Add Product</button>
  <button class="btn btn-info" style="margin-left: 10px;">Add Customer</button>

</div>

<div *ngIf="visit">
    <div>
        <label><b>Customer Id:</b></label> {{cust.id}}

    </div>
    <div>
        <label><b>Customer Name:</b></label> {{cust.name}}
    </div>

    <div *ngFor="let p of cust.products">
        <p>{{p.productId}}</p>
        <p>{{p.productName}}</p>
        <p>{{p.price}}</p>

    </div>
</div>
